body {
    background-image: url("/images/four.png");
    background-repeat: no-repeat;
    background-size: 1200px 1300px;
    background-attachment: fixed;
    background-position: center; 
    line-height: "500px";

}
.btn {
	float: bottom,
	align: bottom
}

#floor_plan {
	align: left
}

#webcam {
	align: right,
	width: 640,
	height: 480,
	frameBorder: 0,
	
}

input.button-add {
    background-image: url(../images/left_arrow.png); /* 16px x 16px */
    background-color: transparent; /* make the button transparent */
    background-repeat: no-repeat;  /* make the background image appear only once */
    background-position: 0px 0px;  /* equivalent to 'top left' */
    border: none;           /* assuming we don't want any borders */
    cursor: pointer;        /* make the cursor like hovering over an <a> element */
    height: 16px;           /* make this the size of your image */
    padding-left: 16px;     /* make text start to the right of the image */
    vertical-align: middle; /* align the text vertically centered */
}
