body {
    background-image: url("/images/four.png");
    background-repeat: no-repeat;
    background-size: 1200px 1300px;
    background-attachment: fixed;
    background-position: center; 
    line-height: "500px";

}
.btn {
	float: bottom,
	align: bottom
}

#floor_plan {
	align: left
}

#webcam {
	align: right,
	width: 640,
	height: 480,
	frameBorder: 0,
	
}
